*{
    padding: 0;
    margin: 0;
}

.container{
    border: 1px solid rgb(223, 223, 223);
    width: 60vw;
    height: 60vh;
    border-radius: 10px;
    margin: 4vh;
   
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.box{
    
    height: 45vh;
    width: 30%;
    overflow:auto;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;

}
.box1{
    
    height: 45vh;
    width: 30%;
    overflow:auto;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;

}
.box2{
    
    height: 45vh;
    width: 30%;
    overflow:auto;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
}
.box::-webkit-scrollbar {
  display: none;
}
.box1::-webkit-scrollbar {
  display: none;
}
.box2::-webkit-scrollbar {
  display: none;
}

.boxcontainer{
    display: flex;
    
    justify-content: space-between;
    padding: 10px 10px;
}
.box h1{
    font-size: 1.5vw;
    font-weight: 100;
    text-align: center;
    
}
.box1 h1{
    font-size: 1.5vw;
    font-weight: 100;
    text-align: center;
}
.box2 h1{
    font-size: 1.5vw;
    font-weight: 100;
    text-align: center;
    
}
.container h1{
    text-align: center;
    padding: 10px 10px;
}
input{
    text-align: center;
    border-radius: 5px;
    padding: 5px 5px;
    width: 15vw;
}

.cards{
    background-color: white;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 10px;
    font-size: 1vw;
    cursor: grab;
    overflow-wrap: break-word;
}
.cards h3{
    font-weight: 90;
    font-size: 2vh;
    
}
.cards.over{
    border: 1px solid gray;
    
}
.cards:active {
  cursor: grabbing;
}

.dragging {
  position: relative;
  z-index: 1000;
  cursor: grabbing;
}
.btn{
    padding: 5px 5px;
    background-color: rgb(206, 199, 199);
    margin: 10px;
    border-radius: 10px;
    font-size: 20px;
    color: black;
    
}
.box h1{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: gray;
}
.box1 h1{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: gray;
}
.box2 h1{
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: gray;
}

.first{
    display: none;
 }